* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;

}

.list1{
  padding: 20px;
  background-color: silver;
}
.list2{
  padding: 20px;
}
.mainvisual{
  width: 960px;
  margin: 0 auto;
}
.box1{
  display: flex;
  padding-bottom: 40px;

}
.box3{
  display: flex;

}

.orange1{
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: orange;
}
.orange3{
  width: 30%;
  height: 200px;
  background-color: orange;
}
.yellow1{
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: yellow;
}
.yellow3{
  width: 30%;
  height: 200px;
  background-color: yellow;
}